<h1>Medications</h1>
<ul>
	<% @medications.each do |m| %>
	<li>
		<strong><%= m.name %> </strong> <br />
		Dosage: <%= m.dosage %> <br/>
		Periodicity: <%= m.periodicity %> <br />
		Duration: <%= m.duration %> <br />
		Prescribed By: Dr. <%= m.prescribedby %> 
		<i><% link_to "Visit this doctor", doctor_path %></i>
	</li>
	<% end %>
</ul>

<%= link_to "My Profile", user_path(@user.id) %>
