<h1> Create New Medication </h1>

<%= form_for @medication do |f| %>
	Name: <%= f.text_field :name, placeholder: "Name" %>
	<%= f.text_field :dosage, placeholder: "Dosage (in mg)" %>
	<%= f.text_field :periodicity, placeholder: "(i.e. daily, biweekly, monthly)" %><br>
	<%= f.number_field :duration, placeholder: "(in months)" %><br>
	<%= f.submit "Add Medication" %><br>
<% end %>

<%= link_to "Back to the list", medications_path %>