<h1> <%= @medication.name %> </h1>

<h2> Doctors with <%= @medication.name %> Experience </h2>
<ul>
	<% @medication.doctor_ids.each do |d| %>
	<li>
		<strong> Dr. <%= d.first_name %> <%= d.last_name %> </strong> <br />
		<%= d.location %> <br />
		<i><%= link_to "Doctor Profile", doctor_path(d) %></i>
	</li>
	<% end %>
</ul>


<%= link_to "Delete", :medication, method: :delete, data: {confirm: "Are you sure you want to delete #{@medication.name}?"} %>

<%= link_to "Full List of Prescribed Medications", medications_path %>
<%= link_to "All Doctor Users", doctors_path %>