<h1> Edit Patient Information </h1>

<%= form_for @patient do |f| %>
	<%= f.text_field :first_name, placeholder: "First Name" %><br />
	<%= f.text_field :last_name, placeholder: "Last Name" %><br />
	<%= f.text_field :sex, placeholder: "Male/Female" %><br />
	<%= f.date_select :DOB, :start_year => 1900 %><br />
	<%= f.submit "Edit" %>
<% end %>

<%= link_to "Back to the list", doctor_patients_path(@doctor.id) %>