<h1> Patients </h1>

<p>
	<%= link_to "Show All", patients_path(patientfilter: "Showall") %> <br />
	<%= link_to "Male", patients_path(patientfilter: "Male") %> <br />
	<%= link_to "Female", patients_path(patientfilter: "Female") %> <br />
<p>

<ul>
	<% @patients.each do |p| %>
	<li>
		<strong> <%= p.first_name %> <%= p.last_name %> </strong> <br />
		<%= p.DOB %> <br />
		<i> <%= link_to "Patient Profile", patient_path(p) %> </i>
	</li>
	<% end %>
</ul>

<%= link_to "All Doctors", doctors_path %>
