<h1> <%= @patient.first_name %> <%= @patient.last_name %> </h1>

<h2> Patient Information </h2>
Sex: <%= @patient.sex %> <br />
Date of Birth: <%= @patient.DOB %> <br / >
Blood Type: <%= @patient.blood_type %> <br />

<h2> Patient's Selected Doctors </h2>
<ul>
	<% @doctors.each do |d| %>
	<li>
		<strong> Dr. <%= d.first_name %> <%= d.last_name %> </strong>
		<i><%= link_to "Doctor Profile", doctor_path(d) %></i>
	</li>
	<% end %>
</ul>

<h2> Patient's Medications </h2>
<%= link_to "Add New Medication", new_medication_path %> <br />
<ul>
	<% @patient.medication_ids.each do |m| %>
	<li>
		<strong> <%= m.name %> </strong> <br /> --[ <%= m.prescribedby %> ]
		<%= link_to "More Medication Info", medication_path(m) %> <br />
	</li>
	<% end %>
</ul>
<%= link_to "Detailed Patient Medication List", user_patient_medications_path(@patient.id) %> <br />

<h3> Contact Information </h3>
Phone: <%= @patient.phone_number %> <br />
Email: <%= @patient.email %><br />


<%= link_to "Delete Patient", :patient, method: :delete, data: {confirm: "Are you sure you want to delete #{@patient.first_name} #{@patient.last_name}?"} %>


