<h1>Edit Doctor Profile</h1>

<%= form_for @doctor do |f| %>
	<%= f.text_field :first_name, placeholder: "First Name" %><br />
	<%= f.text_field :last_name, placeholder: "Last Name" %><br />
	<%= f.text_field :speciality, placeholder: "Speciality" %><br />
	<%= f.text_field :location, placeholder: "City of Practice" %><br />
	<%= f.text_field :email, placeholder: "Email" %><br />
	<%= f.text_field :phone_number, placeholder: "Phone Number" %><br />

	<%= f.submit "Edit" %>
	
<% end %> 

